@font-face {
  font-family: "GteDisplayBold";
  src: url('../../shared/font/gteestiprodisplay_bold.otf') format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GteDisplayLight";
  src: url('../../shared/font/gteestiprodisplay_light.otf') format("truetype");
  font-style: normal;
  font-weight: normal;
}

.body {
  padding: 100px 0;
  background: url("../../shared/images/roadMap_bg.png") center no-repeat;
  background-color: #000;
  background-size: cover;
  margin-top: 120px;
}

.wrapperMain {
  margin: 250px 0 150px 0;
}

.line {
  background: linear-gradient(90deg, #9747FF 0%, #0CD1E0 100%);
  height: 8px;
  width: 100%;
  border-radius: 10px;
  margin-top: 25px;
  position: relative;
  .point {
    background: #13CBE2;
    border-radius: 50px;
    width: 20px;
    height: 29px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    .pointWrapper {
      position: relative;
    }

    .pointItem {
      position: absolute;
      bottom: 5px;
      left: 0;

      h4 {
        width: 100%;
        text-wrap: nowrap;
        font-size: 26px;
        font-weight: 500;
        background: linear-gradient(90deg, #9747FF 0%, #0CD1E0 100%);
        font-family: GteDisplayBold;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }

      .pointItemWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        grid-gap: 4px;
        margin-top: 8px;
        p {
          font-family: GteDisplayLight;
          color: #fff;
          text-wrap: nowrap;
          position: relative;
          padding-left: 12px;
          &::before {
            content: "";
            display: block;
            width: 5px;
            height: 2px;
            background: #fff;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
          }
        }
      }
    }

    &:nth-child(2) {
      transform: translate(250px, -50%);

      .pointItem {
        top: 55px;
      }
    }
    &:nth-child(3) {
      transform: translate(420px, -50%);
    }
    &:nth-child(4) {
      transform: translate(800px, -50%);
      .pointItem {
        top: 55px;
      }
    }
    &:nth-child(5) {
      transform: translate(900px, -50%);
    }
  }


}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  grid-gap: 10px;
  color: #111827;
  font-family: Inter;

  h3 {
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(90deg, #9747FF 0%, #0CD1E0 100%);
    font-family: GteDisplayBold;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-transform: uppercase;
  }

  p {
    font-family: GteDisplayLight;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
  }
}

@media (max-width: 1075px) {
  .line {
    .point {

      &:nth-child(4) {
        transform: translate(700px, -50%);
        .pointItem {
          top: 55px;
        }
      }
      &:nth-child(5) {
        transform: translate(850px, -50%);
      }
    }
  }
}

@media (max-width: 1024px) {
  .line {
    .pointItem {
      h4 {
        font-size: 22px !important;
      }
      p {
        font-size: 15px !important;
      }
    }

    .point {

      &:nth-child(4) {
        transform: translate(650px, -50%);
        .pointItem {
          top: 55px;
        }
      }
      &:nth-child(5) {
        transform: translate(800px, -50%);
      }
    }
  }
}

@media (max-width: 960px) {
  .line {
    .pointItem {
      h4 {
        font-size: 22px !important;
      }
      p {
        font-size: 15px !important;
      }
    }

    .point {
      &:nth-child(2) {
        transform: translate(250px, -50%);
        .pointItem {
          top: 55px;
        }
      }
      &:nth-child(3) {
        transform: translate(420px, -50%);
      }
      &:nth-child(4) {
        transform: translate(630px, -50%);
        .pointItem {
          top: 55px;
        }
      }
      &:nth-child(5) {
        transform: translate(750px, -50%);
      }
    }
  }
}

@media (max-width: 960px) {
  .line {
    .point {
      &:nth-child(2) {
        transform: translate(150px, -50%);
        .pointItem {
          top: 55px;
        }
      }
      &:nth-child(3) {
        transform: translate(350px, -50%);
      }
      &:nth-child(4) {
        transform: translate(530px, -50%);
        .pointItem {
          top: 55px;
        }
      }
      &:nth-child(5) {
        transform: translate(680px, -50%);
      }
    }
  }
}

@media (max-width: 840px) {
  .line {
    .pointItem {

      h4 {
        font-size: 20px !important;
      }
      p {
        font-size: 14px !important;
      }
    }
    .point {
      width: 15px;
      height: 22px;
      &:nth-child(2) {
        transform: translate(100px, -50%);
        .pointItem {
          top: 55px;
        }
      }
      &:nth-child(3) {
        transform: translate(300px, -50%);
      }
      &:nth-child(4) {
        transform: translate(500px, -50%);
        .pointItem {
          top: 55px;
        }
      }
      &:nth-child(5) {
        transform: translate(630px, -50%);
      }
    }
  }
}

@media (max-width: 840px) {
  .line {
    .pointItem {

      h4 {
        font-size: 20px !important;
      }
      p {
        font-size: 14px !important;
      }
    }
    .point {
      &:nth-child(3) {
        transform: translate(275px, -50%);
      }
      &:nth-child(4) {
        transform: translate(450px, -50%);
        .pointItem {
          top: 55px;
        }
      }
      &:nth-child(5) {
        transform: translate(550px, -50%);
      }
    }
  }
}

@media (max-width: 700px) {
  .line {
    height: 4px;
    .pointItem {
      h4 {
        font-size: 18px !important;
      }
      p {
        font-size: 12px !important;
      }
    }
    .point {
      width: 10px;
      height: 15px;
      &:nth-child(2) {
        .pointItem {
          top: 30px;
        }
      }
      &:nth-child(3) {
        transform: translate(250px, -50%);
      }
      &:nth-child(4) {
        transform: translate(400px, -50%);
        .pointItem {
          top: 30px;
        }
      }
      &:nth-child(5) {
        transform: translate(500px, -50%);
      }
    }
  }
}
@media (max-width: 635px) {
  .line {
    height: 4px;
    .pointItem {
      h4 {
        font-size: 18px !important;
      }
      p {
        font-size: 12px !important;
      }
    }
    .point {
      &:nth-child(3) {
        transform: translate(250px, -50%);
      }
      &:nth-child(4) {
        transform: translate(350px, -50%);
        .pointItem {
          top: 30px;
        }
      }
      &:nth-child(5) {
        transform: translate(450px, -50%);
      }
    }
  }
}


@media (max-width: 430px) {
  .body {
    padding-bottom: 50px;
  }
  .wrapperMain {
    margin-top: 50px;
  }
  .line {
    width: 4px;
    height: 75vh;

    .point {
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);

      .pointItem {
        left: 150%;
        top: 0 !important;
        z-index: 1000;

        h4 {
          font-size: 21px;
        }
        p {
          font-size: 15px;
        }
      }
      &:nth-child(2) {
        transform: translate(-50%, 18vh);
      }
      &:nth-child(3) {
        transform: translate(-50%, 35vh);
      }
      &:nth-child(4) {
        transform: translate(-50%, 53vh);
      }
      &:nth-child(5) {
        transform: translate(-50%, 73vh);
      }
    }
  }
} 