@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap');

.header {
  margin-top: 26px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  nav {
    display: flex;
    align-items: center;
    grid-gap: 20px;

    a {
      font-family: "Inter", sans-serif;
      color: #666666;
      text-decoration: none;
      font-size: 16px;
    }
  }
}

.left {
  display: flex;
  align-items: center;
  grid-gap: 60px;
}

.telegram {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  display: flex;
  align-items: center;
  grid-gap: 10px;
  color: #000;
}

@media (max-width: 430px) {
  .wrapper {
    justify-content: space-between;
  }

  .left img {
    display: none;
  }

  .left nav {
    grid-gap: 10px;
  }
  .telegram {
    p {
      display: none;
    }
  }
}